Skip to main contentSkip to toolbar
About WordPress
Website
21 WordPress Update, 1 Plugin Update
00 comments awaiting moderation
New
View Page
G'day, admin
Log Out
Help Screen Options WordPress 4.9.8 is available! Please update now.
Edit Page Add New
Page updated. View page

Dismiss this notice.
Enter title here
About
Permalink: http://localhost/website/
 Add MediaVisualText

<section id="heading">Section Heading</section>
<section id="content-body">
	<div id="gridwrap">
		<div class="grid-sizer"></div>
		<div class="mblock text-content">
			<p class="highlight">Highlight paragraph duis aute irure dolor in reprehenderit in voluptate velit energy efficiency eu di fugiat.</p>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eqque ipsa quae ab illo inventore veritatis et quasi ventus vitae ventus consecutem terra lora magnum aqua.</p>
			<p class="no-margin"><a class="button primary-button">Button</a><p>
			
		</div>
		<div class="mblock icon-grid">
			<ul id="igrid">
				<li>
					<figure>
						<svg id="artwork" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><title>service-icons</title><rect x="2" y="2" width="56" height="56" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3"/><line x1="2" y1="2" x2="58" y2="58" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3"/><line x1="58" y1="2" x2="2" y2="58" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3"/></svg>
						<figcaption>Icon Label Lorem Ipsum Terra</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<svg id="artwork" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><title>service-icons</title><rect x="2" y="2" width="56" height="56" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3"/><line x1="2" y1="2" x2="58" y2="58" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3"/><line x1="58" y1="2" x2="2" y2="58" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3"/></svg>
						<figcaption>Icon Label Lorem</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<svg id="artwork" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><title>service-icons</title><rect x="2" y="2" width="56" height="56" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3"/><line x1="2" y1="2" x2="58" y2="58" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3"/><line x1="58" y1="2" x2="2" y2="58" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3"/></svg>
						<figcaption>Icon Label Lorem Ipsum Vitae</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<svg id="artwork" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><title>service-icons</title><rect x="2" y="2" width="56" height="56" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3"/><line x1="2" y1="2" x2="58" y2="58" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3"/><line x1="58" y1="2" x2="2" y2="58" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="3"/></svg>
						<figcaption>Icon Label Lorem Terra</figcaption>
					</figure>
				</li>
			</ul>
		</div>
		<div class="mblock image-content hide-sm"><img src="http://localhost/website/wp-content/uploads/2018/08/02.png" alt="" class="alignnone size-full" /></div>
		<div class="mblock image-content hide-sm"><img src="http://localhost/website/wp-content/uploads/2018/08/01.png" alt="" class="alignnone size-full" /></div>
		<div class="mblock image-content hide-sm"><img src="http://localhost/website/wp-content/uploads/2018/08/03.png" alt="" class="alignnone size-full" /></div>
		<div class="mblock sm-only owlize"></div>
		<div class="mblock text-content">
			<a class="button primary-button">Button</a>
		</div>
	</div>
</section>