/* GENERAL */
* { box-sizing: border-box;}

/* HEADER AND NAVIGATION */
header#header {
    display: flex;
    flex-direction: row;
    height: 82px;
    background: $purple;
    color: white;

    section#logo a{
        display:inline-block;

        img{
            height: 28px;
            width: auto;
            margin: 27px 40px;
        }
    }

    nav#menu {
        flex: 1;
        text-align: right;

        ul {
            margin-right: 12px;

            li {
                display: inline-block;
                margin: 0 -3px;

                &#menu-item-17 a {
                    font-size: 0;

                    &:after{
                        font-size: 12px;
                        content: '';
                        background-color: white;
                        -webkit-mask-image: url(../images/home.svg);
                        mask-image: url(../images/home.svg);
                        width: 18px;
                        height: 18px;
                        display: inline-block;
                        transform: translate(10px,5px);
                    }
                }

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: 700;
                    display: block;
                    line-height: 82px;
                    padding: 0px 45px;
                }

                &.current_page_item a {
                    background: white;
                    color:$purple;
                }
            }

        }
    }

    section#header-widget span.number {
        display: block;
        background:$dark_purple;
        padding: 33px 40px 33px 18px;
        font-size: 16px;
        font-weight: 900;

        &:before {
            content: '';
            display: block;
            background-color: white;
            -webkit-mask-image: url(../images/phone.svg);
            mask-image: url(../images/phone.svg);
            background-size:20px;
            width: 20px;
            height: 20px;
            float: left;
            margin-right: 12px;
            margin-top: -1px;
            margin-left: 18px;
        }
    }
}

body{
    color:$text_dark;
    ul{
        margin:0;
        list-style:none;
        padding:0;
    }

}





/* CONTENT */

section#content {
    margin: 80px 0 60px;
    position:relative;

    &:after {
        content: '';
        display:block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width:50%;
        z-index: -1;
        background: $bg_gray;
        border:1px solid $bd_gray;
        border-right:0;
        border-left:0;
        
    }
    .page-wrap {
        margin: 0 auto;
        padding: 18px 0 28px;
        max-width: 1586px;
        background: $bg_gray;
        border: 1px solid $bd_gray;
        border-right-color: transparent;
        position: relative;

        .page-inner{
            margin:0 24px;
        }
    }
}

section#heading {
    margin: 36px 30px 0px;
    text-transform: uppercase;
    font-family: Suvaram;
    font-size: 20px;
    color:$text_medium;
}

ul#igrid li{
    &:before {
        content: '01';
        font-family: Bitter;
        font-size: 48px;
        margin-bottom: 15px;
        display: block;
        color:$text_light;
    }
    &:nth-of-type(2):before{content:'02';}
    &:nth-of-type(3):before{content:'03';}
    &:nth-of-type(4):before{content:'04';}

}


ul#igrid {
    display: flex;

    li {
        flex: 1;

        figure {
            svg {
                margin: 0 27px 10px;

                line, rect {
                    stroke: $orange !important;
                }
            }
            figcaption {
                font-family: Suvaram;
                text-transform: uppercase;
                text-align: center;
                line-height: 170%;
                font-size: 13px;
                font-weight: bold;
                color: $purple;
            }
        }
        & + li {
            margin-left: 55px;
        }
    }
}


section#content-body .mblock p {
    line-height: 190%;
    font-size: 15px;
    margin-bottom: 40px;

    &.no-margin {
        margin-bottom: 0;
    }

    &.highlight {
        font-size: 28px;
        font-weight: 900;
        line-height: 160%;
        max-width: 90%;
        color: $purple;
        margin-bottom: 40px;
    }
}


div#gridwrap {
    width:100%;

    &:after{
        content: '';
        display: block;
        clear: both;
    }
    
    .grid-sizer,
    .mblock {
        width: 50%;
        margin-bottom: 0;
    }

    .mblock {
        float: left;
        padding:30px;

        img {
            display: block;
            width: 100%;
        }
    }
}

/* BUTTON */
    a.button.primary-button {
        display: inline-block;
        border: 2px solid $orange;
        height: 50px;
        margin-top: -11px;
        line-height: 47px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        padding: 0 20px;
        min-width: 230px;
        position: relative;
        color:$purple;
        cursor: pointer;

        &:before {
            content: '';
            background-color: $orange;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 48px;
        }

        &:after {
            content: '';
            background-color: white;
            -webkit-mask-image: url(../images/plus.svg);
            mask-image: url(../images/plus.svg);
            background-color: white;
            display: block;
            position: absolute;
            top: 16px;
            height: 15px;
            right: 16px;
            width: 15px;
        }

    }




/* FOOTER */

footer#footer{
    background: $purple;
    height: 90px;
    display: flex;

    section {
        flex: 1;

        .inner {
            line-height: 90px;
            padding: 0 40px;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: 600;
            color: white;
                a {
                    text-decoration: none;
                    color: white;
                    }
            }

        &#copyright {

            .inner {

                a {

                    &:before{
                        content:'';
                        dislay:block;
                        width:1px;
                        border-left:1px solid $orange;
                        margin:0 15px;
                    }    
                }

                

            }

        }

        &#social {
            text-align: center;

            .inner{
                line-height:100%;
                a{
                    display:inline-block;
                }
            }
            .social-icon{
                svg{
                    width: 20px;
                    height: 20px;
                    margin: 35px 15px 0;
                    fill: white;
                    display:block;}

            }
        }

        &#designby {
            text-align: right;
        }
    }
    

}