.sm-only{display:none;}
div#mobile-menu-trigger-wrap {flex: 1; display:none;}

@media only screen and (max-width:1720px){  

    section#content {
        margin: 60px 0 40px;

        .page-wrap {
            max-width: 1160px;
            padding: 18px 0 28px;

            .page-inner {
                margin: 0 -12px 0 10px;
            }
        }
    }

    section#heading {
        margin: 36px 21px 5px;
    }

    div#gridwrap .mblock {
        padding: 20px;
        p.highlight {
            font-size: 25px;
            margin-bottom: 35px;
        }
    }

    ul#igrid{
        li{
            &:before {
                font-size: 37px;
            }
            figure {
                svg {
                    margin: 0 10px 10px;
                }
                figcaption {
                    font-size: 13px;
                }
            }
            &+li {
                margin-left: 45px;
            }
        }
    }    

    header#header{
        nav#menu ul {
            margin-right: 20px;
            li a{
                padding:0 26px;
            }
        }
        section#header-widget span.number {
            padding-left: 24px;

            &:before {
                margin-right: 22px;
            }
        }
    }


}

@media only screen and (max-width:1230px){
    
    header#header {
        height: 70px;
        div#mobile-menu-trigger-wrap {display:block;}
        section#header-widget span.number {
            font-size: 0;
            padding: 0;
            width: 70px;
            height: 70px;
            
            &:before {
                margin: 20px 25px;
            }
        }

        section#logo a img {
            height: 28px;
            margin: 21px 30px;
        }

        nav#menu {
            position: absolute;
            top: 62px;
            left: 0;
            bottom: 0;
            right: 0;
            background: #27198c;
            height: auto;
            z-index: 4;
            padding: 0;
            height: 100%;
            transform: translateY(-150vh);
            opacity: 0;
            transition: all ease-in 300ms;
            
            &.active {
                transform: translate(0,0);
                opacity: 1;
            }
            ul {
                margin: 30px 0 0;
                text-align: center;
                display: block;
                
                li {
                    height: auto;
                    line-height: initial;
                    display: block;

                    &#menu-item-17 a:after {
                        transform: translate(0,0);
                    }

                    a {
                        padding: 0;
                        width: 80%;
                        margin: 0 auto;
                        line-height: 55px;
                    }

                    &+li a {
                        border-top: 1px solid rgba(255,255,255,0.1);
                    }
                }
            }

        }
    }

    ul#igrid {
        flex-direction: column;
        margin-top: 8px;

        li{
            figure{
                display: flex;
                flex-direction: row;

                svg {
                    height: 50px;
                    width: 50px;
                    margin: 0 0 0 0;
                }
                figcaption {
                    line-height: 50px;
                    padding-left: 20px;
                    text-align: left;
                }
            } 

            &+li {
                margin-left: 0;
                margin-top: 20px;
            }

            &:before {
                content: '';
                display: none;
            }
        }
    }

    section#heading {
        margin: 27px 28px 5px;
        font-size: 18px;
    }

    section#content {
        margin: 50px 0 30px;

        .page-wrap {
            border-left-color: transparent;
            border-right-color: transparent;

            .page-inner {
                margin: 0;
            }
        }
    }

    div#gridwrap .mblock {
        padding: 15px;
        width: 50%;

        p.highlight {
            font-size: 23px;
            margin: 0 0 13px;
            max-width: 84%;
        }
    }

    section#content-body {
        padding: 0 14px;
    }

    section#content-body .mblock p {
        font-size: 13px;
        line-height: 216%;
        margin-bottom: 25px;
    }

    a.button.primary-button {
        height: 46px;
        line-height: 42px;
        font-size: 10px;
        min-width: 194px;

        &:before {
            width: 44px;
        }

        &:after {
            top: 14px;
            right: 14px;
        }
    }


    

    footer#footer {
        flex-direction: column;
        height: auto;
        text-align: center;

        section {
            flex: none;
            &#social {
                order: 1;
                .inner {
                    line-height: 100%;
                }
            }
            &#copyright {
                order: 2;
                .inner {
                    line-height: 160%;
                    margin-top: 24px;
                }
            }
            &#designby {
                order: 3;
                text-align: center;

                .inner {
                    line-height: 160%;
                    margin: 15px 0 27px;
                }
            }
        }
    }


    /*Toggle Menu*/
    #mobile-menu-trigger-wrap {
        display: block !important;
        width: 30px;
        height: 62px;
        padding: 23px;
        left:0;
        cursor: pointer;
        background-color: transparent;
        text-align: right;

        div {
            width: 20px;
            height: 15px;
            position: relative;
            left: 0;
            top:0;
            display: inline-block;
            }
        }
    .toggle-menu-default-state{display: none;}
    .toggle-menu-hidden{display: none;}
    .toggle-menu-visible{display: block;}
    
    #mobile-menu-trigger-wrap.collapsed span {background: #ffffff;}
    #mobile-menu-trigger-wrap span {
        display: block;width: 20px;height: 1px;background: #fff;position: absolute;-webkit-animation-fill-mode: forwards;-moz-animation-fill-mode: forwards;animation-fill-mode: forwards;transition: all ease-in 500ms;}
    #mobile-menu-trigger-wrap span.top {
        top: 0px;}
    #mobile-menu-trigger-wrap span.middle {
        top: 7px;}
    #mobile-menu-trigger-wrap span.bottom {
        top: 15px;}
    
    #mobile-menu-trigger-wrap span.top {
        -webkit-animation: inTop 0.8s forwards;-moz-animation: inTop 0.8s forwards;animation: inTop 0.8s forwards;}
    #mobile-menu-trigger-wrap span.middle {
        -webkit-animation: inMiddle 0.8s forwards;-moz-animation: inMiddle 0.8s forwards;animation: inMiddle 0.8s forwards;}
    #mobile-menu-trigger-wrap span.bottom {
        -webkit-animation: inBottom 0.8s forwards;-moz-animation: inBottom 0.8s forwards;animation: inBottom 0.8s forwards;}   
        
    #mobile-menu-trigger-wrap.collapsed span.top {
        -webkit-animation: outTop 0.8s backwards;-webkit-animation-direction: reverse;-moz-animation: outTop 0.8s backwards;-moz-animation-direction: reverse;animation: outTop 0.8s backwards;animation-direction: reverse;}
    #mobile-menu-trigger-wrap.collapsed span.middle {
        -webkit-animation: outMiddle 0.8s backwards;-webkit-animation-direction: reverse;-moz-animation: outMiddle 0.8s backwards;-moz-animation-direction: reverse;animation: outMiddle 0.8s backwards;animation-direction: reverse;}
    #mobile-menu-trigger-wrap.collapsed span.bottom {
        -webkit-animation: outBottom 0.8s backwards;-webkit-animation-direction: reverse;-moz-animation: outBottom 0.8s backwards;-moz-animation-direction: reverse;animation: outBottom 0.8s backwards;animation-direction: reverse;}   

    @-webkit-keyframes inMiddle {
        0% {top: 7px;}50% {-webkit-transform: rotate(0deg);}100% {-webkit-transform: rotate(45deg);}}
    @-moz-keyframes inMiddle {
        0% {top: 7px;}50% {-moz-transform: rotate(0deg);}100% {-moz-transform: rotate(45deg);}}
    @keyframes inMiddle {
        0% { top: 7px; } 50% { transform: rotate(0deg); } 100% { transform: rotate(45deg); }}
    @-webkit-keyframes outMiddle {
        50% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(45deg); }}
    @-moz-keyframes outMiddle {
        50% { -moz-transform: rotate(0deg); } 100% { -moz-transform: rotate(45deg); }}
    @keyframes outMiddle {
        50% { transform: rotate(0deg); } 100% { transform: rotate(45deg); }}
    @-webkit-keyframes inTop {
        0% {top: 0;}50% {top: 7px;-webkit-transform: rotate(0deg);}100% {top: 7px;-webkit-transform: rotate(135deg);}}
    @-moz-keyframes inTop {
        0% {top: 0;}50% {top: 7px;-moz-transform: rotate(0deg);}100% {top: 7px;-moz-transform: rotate(135deg);}}
    @keyframes inTop {
        0% { top: 0; } 50% { top: 7px; transform: rotate(0deg); } 100% { top: 7px; transform: rotate(135deg); }}
    @-webkit-keyframes outTop {
        0% { top: 0; } 50% { top: 7px; -webkit-transform: rotate(0deg); } 100% { top: 7px; -webkit-transform: rotate(135deg); }}
    @-moz-keyframes outTop {
        0% { top: 0; } 50% { top: 7px; -moz-transform: rotate(0deg); } 100% { top: 7px; -moz-transform: rotate(135deg); }}
    @keyframes outTop {
        0% { top: 0; } 50% { top: 7px; transform: rotate(0deg); } 100% { top: 7px; transform: rotate(135deg); }}
    @-webkit-keyframes inBottom {
        0% { top: 18px; } 50% { top: 7px; -webkit-transform: rotate(0deg); } 100% { top: 7px; -webkit-transform: rotate(135deg); }}
    @-moz-keyframes inBottom {
        0% { top: 18px; } 50% { top: 7px; -moz-transform: rotate(0deg); } 100% { top: 7px; -moz-transform: rotate(135deg); }}
    @keyframes inBottom {
        0% { top: 18px; } 50% { top: 7px; transform: rotate(0deg); } 100% { top: 7px; transform: rotate(135deg); }}
    @-webkit-keyframes outBottom {
        0% { top: 18px; } 50% { top: 7px; -webkit-transform: rotate(0deg); } 100% { top: 7px; -webkit-transform: rotate(135deg); }}
    @-moz-keyframes outBottom {
        0% { top: 18px; } 50% { top: 7px; -moz-transform: rotate(0deg); } 100% { top: 7px; -moz-transform: rotate(135deg); }}
    @keyframes outBottom {
        0% { top: 18px; } 50% { top: 7px; transform: rotate(0deg); } 100% { top: 7px; transform: rotate(135deg); }}

    


}


@media only screen and (max-width:700px){
    

    header#header {
        height: 62px;
        
        section#logo a img {
            height: 22px;
            margin: 20px 20px;
        }
        
        section#header-widget span.number {
            width: 62px;
            height: 62px;

            &:before{
                margin:20px
            }
        }
    }

    section#content {
        margin: 40px 0;
    }

    section#heading {
        margin: 20px;
        font-size: 16px;
    }

    div#gridwrap{
        .grid-sizer, .mblock {
            width: 100%;
            padding: 0 5px 15px;
        }

        .mblock p.highlight {
            font-size: 20px;
            margin: 0;
            max-width: 90%;
            margin-bottom: 13px;
        }
    }

    ul#igrid {
        margin-top: 19px;

        li{
            figure{
                svg {
                    width: 42px;
                    height: 42px;
                }
                figcaption {
                    line-height: 166%;
                    font-size: 13px;
                    padding-left: 13px;
                    padding-top: 4px;
                }
            }

            &+li {
                margin-top: 15px;
            }
        }
    }  
    .sm-only{display:block;} 
    .hide-sm{display:none;}

    ul.carnav {
        display: block;
        text-align: center;
        margin-bottom: 25px;
    }
    ul.carnav li {
        width: 12px;
        height: 4px;
        display: inline-block;
        background: $light_purple;
        margin-right: 8px;
    }
    ul.carnav li.active{
        background: $purple;
    }


}

@media only screen and (max-width:450px){
    footer#footer section#copyright .inner span {
        display: block;
        margin-top: 13px;

        a:first-of-type:before {
            display: none;
        }    
    }
}